.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
# Ignore Python virtual environments and packages
site-packages/
antenv/
venv/
__pycache__/
*.pyc